<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    <h1>Catalogo de productos</h1>
    <% if(customers.length > 0) { %>
    <table>
      <tr>
        <th>name</th>
        <th>age</th>
        <th>picture</th>
      </tr>
      <tr>
          <% customers.forEach(function(this) { %>
          <td><%= this.name %></td>
          <td><%= this.age %></td>
          <td><img src="<%= this.picture %>" width="50px"/></td>
        </tr>
        <% }); %>
    </table> 
    <% }else{ %>
      <h2>No hay productos</h2>
      <% }; %>
    <a href="/">Home</a>
</body>
</html>