<form class="form-group col">
        <label>Nombre</label>
        <input class="input" id="name" type="text" name="name">
        <label>edad</label>
        <input class="input" id="age" type="number" name="age">
        <label>URL</label>
        <input  class="input" id="url"  type="text" name="url">
        <input type="submit" id="enviar" class="btn btn-primary" value="enviar">
</form>

{{#if customers}}
<table class="table table-striped-columns">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody id="detalleCliente">
        {{#each customers}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td><img src="{{this.url}}" alt="{{this.name}}"> </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<a class="btn btn-primary" href="/chat">Chat</a>